In [1]:
import requests
import pandas as pd
API_KEY = "Bearer eyJ4NXQiOiJOelU0WTJJME9XRXhZVGt6WkdJM1kySTFaakZqWVRJeE4yUTNNalEyTkRRM09HRmtZalkzTURkbE9UZ3paakUxTURRNFltSTVPR1kyTURjMVkyWTBNdyIsImtpZCI6Ik56VTRZMkkwT1dFeFlUa3paR0kzWTJJMVpqRmpZVEl4TjJRM01qUTJORFEzT0dGa1lqWTNNRGRsT1RnelpqRTFNRFE0WW1JNU9HWTJNRGMxWTJZME13X1JTMjU2IiwidHlwIjoiYXQrand0IiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJhNjI5YTQyMC0yYTMwLTQxZDYtYjE0MC0wZDQzY2MzZDIzYWYiLCJhdXQiOiJBUFBMSUNBVElPTiIsImF1ZCI6InNhWmtURWR1Um50d0xocktVTmRHWWJKVXM3Y2EiLCJuYmYiOjE3NDcwMzI1NDAsImF6cCI6InNhWmtURWR1Um50d0xocktVTmRHWWJKVXM3Y2EiLCJzY29wZSI6ImRlZmF1bHQiLCJpc3MiOiJodHRwczpcL1wvcG9ydGFpbC1hcGkubWV0ZW9mcmFuY2UuZnJcL29hdXRoMlwvdG9rZW4iLCJleHAiOjE3NDcwMzYxNDAsImlhdCI6MTc0NzAzMjU0MCwianRpIjoiYzFmOTc4OGUtODA4Mi00OTFiLWE0YTMtZmYwOGQ4MjYyNDFhIiwiY2xpZW50X2lkIjoic2Faa1RFZHVSbnR3TGhyS1VOZEdZYkpVczdjYSJ9.c5rMFP0MqtWbD3pk08W7yJOCmZDAr9x2EuSBNXpDEqDQgnYL24cPpjs3qssRRsuPAGajKU1FqINU1lCyMdmjPyS9I5SwGTW_lSN5zXEgpY53W_V9AyXS8CjQ1bSPrrSbPwznoqsfX9wsA029TJR3H7O8Kijd_HCUZZ33fd6ZfkwEHLZ_B7q8nDHn38IQqubCQ8oQu3ERUXgR9EBR4wT4jsnlVlCn4lf0skR8UfC73UnoBr8MLYtRYCL7HcVhRcViRJhJ-JbTh5bJzaZbZ6dlvs219QmTQMT6muNqkypRFyRmQLtBmWR8qveMXgjpfG8vuCklFNDC6f-nXvpWpJDGog"

In [4]:

# URL de l'API
url = "https://public-api.meteofrance.fr/public/DPClim/v1/liste-stations/quotidienne"

# Paramètres de la requête (ex: département 13, précipitation)
params = {
    "id-departement": "13",
    "parametre": "precipitation"
}

# Jeton d'autorisation (Bearer token)
headers = {
    "accept": "*/*",
    "Authorization": API_KEY
}

# Envoi de la requête GET
response = requests.get(url, headers=headers, params=params)

# Vérification et affichage du résultat
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print("Résultat de la requête :")
else:
    print(f"Erreur {response.status_code} : {response.text}")
    
df

Résultat de la requête :

,id,nom,posteOuvert,typePoste,lon,lat,alt,postePublic
0,13001002,AIX-PUYRICARD,False,4,5.413333,43.593333,314,True
1,13001003,AIX-EN-PROVENCE,False,4,5.451333,43.533333,217,True
2,13001004,AIX-EN-PROVENCE-MT-PERRIN,False,4,5.440500,43.520833,205,True
3,13001005,AIX-EN-PROVENCE-ST-EUTROPE,False,4,5.455167,43.540500,271,True
4,13001006,AIX-LES MILLES,False,2,5.365667,43.504667,106,True
...,...,...,...,...,...,...,...,...
189,13113001,VENELLES ECOLE,False,4,5.481667,43.600000,409,True
190,13113002,VENELLES PONTS ET CHAUSSEES,False,4,5.481667,43.600000,370,True
191,13113003,VENELLES,False,4,5.473333,43.578333,330,True
192,13114001,VENTABREN,False,4,5.259667,43.541667,60,True
193,13116001,VERQUIERES,False,4,4.919000,43.829167,47,True